

.customer{

    margin-top: 4%;
  }
  
  .customer h1{
      text-align: center;
      font-size: 35px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #fff;
  }
  
  .customer .customer-detail{
      margin: 15px;
      padding: 10px;
      margin-top: 3%;
      margin-left: 2%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      
  }
  
  
  .customer .card-box{
  
      width: 520px;
      height: 300px;
      background-color: #1b1b1b;
      box-shadow: 5px 5px 6px #000;
      margin-top: 20px;
  
  }
  
  .customer .card-box .star{
  
      margin: 25px auto;
      margin-left: 12px;
      
  }
  
  .customer .card-box p{
  
      color: #fff;
      margin-left: 10px;
      padding: 5px;
  }
  
  .card-box img{
  
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-top: 10px;
      margin-left: 15px;
  }
  
  .card-box h2{
      color: #fff;
      margin-top: 10px;
      margin-left: 15px;
      font-size: 17px;
  }