

.updatebook{
    margin: 5rem auto;
    margin-top: 2%;
    width: 680px;
    background-color: rgb(15, 133, 117);
    padding: 25px;
 }
 
 .updatebook h1{
     color: #fff;
     text-align: center;
 }
 
 .updatebook label{
     width: 100%;
     margin: 5px;
     font-size: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: #fff;
     
 }
 
 .updatebook input{
     width: 100%;
     margin-top: 5px;
     margin-bottom:15px;
     padding: 14px;
     font-size: 18px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     border: 1px solid #565656;
     outline: none;
 }

 .updatebook input::placeholder{
    color: #414141;
 }
 
 
 .updatebook textarea{
     width: 100%;
     margin-top: 5px;
     margin-bottom: 15px;
     font-size: 18px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     border: 1px solid #565656;
     outline: none;
 
 }

 .updatebook textarea::placeholder{
    color: #414141;
 }
 
 
 .updatebook button{
     cursor: pointer;
     width: 100%;
     margin-top: 1%;
     padding: 10px;
     font-size: 18px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 800;
     color: #fff;
     background-color: rgb(0, 69, 126);
     border: 1px solid #565656;
     outline: none;
     
 }
 
 
 
 
 
 
 
 
 